---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import HeroLanding from "../components/HeroLanding.astro";
import EventosSection from "../components/EventosSection.astro";
import ProyectoFoco from "../components/ProyectoFoco.astro";
import ArticulosDestacados from "../components/ArticulosDestacados.astro";
import PersonaDelMes from "../components/PersonaDelMes.astro";
import RecursosDelMes from "../components/RecursosDelMes.astro";
import SeccionPeru from "../components/SeccionPeru.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<!doctype html>
<html lang="es">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body class="min-h-screen bg-background antialiased">
        <Header />
        <main>
            <HeroLanding />
            <EventosSection />
            <ProyectoFoco />
            <ArticulosDestacados />
            <PersonaDelMes />
            <RecursosDelMes />
            <SeccionPeru />
        </main>
        <Footer />
    </body>
</html>
